{% extends 'base.html.twig' %}

{% block title %}Create New Question{% endblock %}

{% block body %}
<h1>Launch a new article! 🚀</h1>
<div class="container">
    <div class="row">
        <div class="col-6">
            {{ include('question_admin/_form.html.twig', {button_text: 'Create 😎'}) }}
        </div>
    </div>
</div>
{% endblock %}
